body {
  background-image: url("../Assets/akan1.jpg");
  background-size: cover;
  font-family: "RocknRoll One", sans-serif !important;
}

#akanForm {
  background-color: rgba(44, 37, 37, 0.8);
  font-weight: 900 !important;
  color: rgb(255, 255, 255) !important;
  text-transform: uppercase;
}

#footer {
  display: none !important;
}

#back-btn {
  margin-left: 5% !important;
}

#result {
  text-align: center;
  opacity: 0.6;
  color: rgb(0, 0, 0);
  font-size: 1em;
  font-weight: 500;
}

@media only screen and (min-width: 768px) {
  #akanForm {
    margin: auto auto !important;
    justify-content: center;
    padding: auto;
    width: 50%;
  }
  body {
    background-image: url("../Assets/akan1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  #result {
    font-size: 2em;
    background-color: #000000;
    margin: auto auto !important;
    font-weight: 400 !important;
    width: 50%;
    color: #fff;
  }

  #back-btn {
    margin: auto;
  }
  #footer {
    display: block !important;
  }
}
